<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>개발 목록</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/ces.png">
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="javascripts/github_api.js"></script>
	</head>
	<body>
		<input type="text" id="repo_name" value='abc'/><br/>
		<input type="text" id="readme_contents" value='abcdefghijklmnopqrstuvwxyz'/><br/>
		<input type="button" value="create" onclick="create_repo(document.getElementById('repo_name').value);" />
		<input type="button" value="edit" onclick="edit_readme(document.getElementById('repo_name').value, document.getElementById('readme_contents').value);"/>
		<input type="button" value="delete" onclick="delete_repo(document.getElementById('repo_name').value);"/>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

	</body>
</html>
