<!DOCTYPE html>
<html>

<head>
	<title>최은석의 포트폴리오</title>
	<link rel="shortcut icon" type="image/x-icon" href="/images/ces.png">
	<style>
		@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
		@import url(//fonts.googleapis.com/earlyaccess/notosansgothic.css);
		@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Noto+Sans+KR&display=swap');

		#na {
			font-family: 'Hanna', sans-serif;
		}

		#go {
			font-family: 'Noto Sans KR', sans-serif;
		}

		#han {
			font-family: 'Black Han Sans', sans-serif;
		}
	</style>

</head>

<body>

	<nav class="navbar sticky-top navbar-dark bg-dark">
		<a class="navbar-brand" href="/" id="na" style="font-size:250%">
			<img src="/images/ces.png" class="d-inline-block align-top" alt=""
				style="width:3.8rem;height:3.8rem;margin-right: 1vw;">
			최은석의 포트폴리오
		</a>
	</nav>

	<div style="width:100vw;height:90vh;display:flex;align-items:center;justify-content:center;background:black;">
		<div id="hello_text" style="color:white;">
			<div class="row">
				<div id="han" style="font-size:7.5vw;">
					<p style="white-space: nowrap;">
						Hello World
					</p>
				</div>
				<div id="cursor" style="width:1vw;background:white;margin-left:2vw"></div>
			</div>

			<p id="han" class="text-center" style="font-size:7.5vw;white-space: nowrap;">
				I'm EunSeok
			</p>
		</div>

	</div>

	<p class="text-center font-weight-bold" style="font-size:6vw;">
		SKILLS
	</p>

	<div class="container-fluid" style="padding-left: 10%;padding-right: 10%;">
		<div class="row">
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/raspberry-pi.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Raspberry Pi</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/arduino.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Arduino</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/c-plus-plus-logo.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">C++</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/python--v1.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Python</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/android-studio--v3.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Android Studio</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/react-native--v1.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">React Native</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/java-coffee-cup-logo--v1.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Java</p>
			</div>
			<div class="w-100" style="margin-bottom: 3%"></div>
			
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/php-logo.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">PHP</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/css3.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">CSS</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/html-5--v2.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Html</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/javascript--v1.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">JavaScript</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/autodesk-fusion-360.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Fusion 360</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/figma--v1.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">Figma</p>
			</div>
			<div class="col" style="margin-bottom: 3rem;">
				<img width="100%" src="https://img.icons8.com/ios/500/000000/github--v1.png"/>
				<p class="text-center" id="na" style="font-size:1.5vw;">GitHub</p>
			</div>
		</div>
	</div>

	<p class="text-right">Icon By <a target="_blank" href="https://icons8.com" style="margin-right: 10%;">Icons8</a></p>


	<div class="row justify-content-center mx-auto" style="margin-bottom:5vh;">
		<div class="shadow-lg p-3 mb-5 bg-white rounded">
			<img src="/images/ces.jpg" class="d-inline-block align-top" alt="" style="width:30vw;height:40vw;">
		</div>
		<div class="shadow-lg p-3 mb-5 bg-white rounded" style="margin-left:1vw;">
			<button type="button" class="btn btn-outline-primary" id="na"
				style="width: 30vw;height:100%;font-size: 5vw;" onclick="movepage()">PROJECTS<br />보러가기</button>
		</div>

	</div>



	<script type="text/javascript">
		function movepage() {
			location.href = '/projects-list';
		}
	</script>

	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/cursor.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</body>

</html>